body {
    background: #1e1e1e;
    color: aliceblue;
}

.header h1 {
    text-align: center;
    font-size: 80px;
    background: -webkit-linear-gradient(#15e7c0, #007369);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 42px;
    font-family: 'Changa', sans-serif;
    color: #2ee820;
}

.main-content {
    max-width: 1400px;
    margin: 0 auto;
}

.accordion {
    margin: 34px 0;
}

.accordion-item>.accordion-header>.accordion-button {
    font-weight: normal;
    font-size: 1.2rem;
    color: white;
    background: #0c828d;
}

.bi-book {
    margin-right: 10px;
}

/* ---- USER INPUTS ---- */

.selector-wrapper {

    border-radius: 6px;
}

.select-tip, .input-tip {
    padding: 22px 0 0 0;
    font-size: 2rem;
    margin: 0;
    color: #252525;
}

.selector-content {

}

.input-field input {
    min-height: 48px;
    width: 320px;
    max-width: 100%;
    margin: 20px auto 44px auto;
    border-radius: 8px;
    border: 1px solid black;
    padding: 6px 12px;
    font-family: Arial;
    font-size: 1.2rem;
}

.input-number-area {
    background: -webkit-linear-gradient(#059d82, #007369);
    background-clip: border-box;
    text-align: center;
    border: 2px solid #007369;
    color: white;

}

.from-system-area {
    background: -webkit-linear-gradient(#059d82, #007369);
    background-clip: border-box;
    text-align: center;
    border: 2px solid #007369;

}

.tip p {
    color: white;
}

.btn-group {
    margin: 20px auto 44px auto;
    background: #ffffff;
}

.button-area {
    background: none;
    display: flex;
    justify-content: space-evenly;
    padding: 36px 0;
}



.ns-btn {
    width: 25%;
    min-width: 150px;
    max-height: 48px;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 12px 0;
    background: rgba(255, 255, 255, 0.06);
/*    border: 1px solid #ffffff;*/
}

.ns-btn:checked {

}

.btn-con {
    text-transform: uppercase;
    font-size: 1.4rem;
    padding: 14px 28px;

}

.ch-btn {
    font-size: 1.4rem;
    padding: 14px 28px;
    width: 400px;
    max-width: 96%;
}

.bi-arrow-clockwise {
    padding-bottom: 4px;
}

/* ---- RESULTS ---- */

.result-area {
    padding: 20px;
    margin: 20px 0;
    background: #1f1f1f;
    color: aliceblue;
    border: #007369 2px solid;
    border-radius: 6px;
}

.result-box {
    justify-content: space-evenly;
}

.converted-box {
    background: none;
/*    min-height: 280px;*/
    border-radius: 8px;
}

#bg1 { background: #02A676; }
#bg2 { background: #008C72; }
#bg3 { background: #007369; }
#bg4 { background: #005A5B; }

 .given-header p.base {
    color: white;
    font-size: 0.9rem;
    padding: 0 0 16px 0;
    font-family: Arial, "Sans Serif Collection";
}

.given-header {
    background: #30806c;
    text-align: center;

}

.given-header p {
    font-size: 1.7rem;
    color: #ffffff;
    padding: 18px 0 0 0;
    margin: 0;
    font-family: 'Tilt Neon', sans-serif;
}

.given-number {
    text-align: center;
    font-size: 2.2rem;
    color: black;
    padding: 22px;
    background: white;
}

.given-system {
    text-align: center;
    font-size: 1.8rem;
    color: #132fad;
    padding: 12px;
    text-transform: uppercase;
    background: white;
    font-family: 'Tilt Neon', sans-serif;
}

.additional-info {
    margin: 400px 0 40px 0;
}

.logic-button {
    padding: 10px 18px;
    margin: 0 12px 0 0;
    background: -webkit-linear-gradient(#0c828d, #095b5e);
    border: 1px solid #02292a;
}

.logic-button:hover {
    border: 1px solid white;
}

.info-image {
    background: black;
    margin: 30px auto;
    text-align: center;
    border: 1px solid darkgray;
    border-radius: 6px;
}

.info-image img {
    width: 96%;
    height: auto;
    margin: 30px auto;
}