body {
    background: #252525;
    color: aliceblue;
}

.header h1 {
    text-align: center;
    font-size: 4rem;
    padding: 32px;
    font-family: 'Tilt Neon', sans-serif;
    color: #2ee820;
}

.main-content {
    max-width: 1400px;
    margin: 0 auto;
}

/* ---- USER INPUTS ---- */

.selector-wrapper {
    background: none;
    border-radius: 6px;
}

.select-tip, .input-tip {
    padding: 22px 0 0 0;
    font-size: 1.6rem;
    margin: 0;
    color: #252525;
}

.selector-content {

}

.input-field input {
    min-height: 48px;
    width: 380px;
    max-width: 100%;
    margin: 20px auto 44px auto;
    border-radius: 8px;
    border: 1px solid black;
}

.input-number-area {
    background: #bed4d5;
    text-align: center;
}

.from-system-area {
    background: #9fc1cb;
    text-align: center;
}

.btn-group {
    margin: 20px auto 44px auto;
    background: #ffffff;
}

.button-area {
    background: none;
}



.ns-btn {
    width: 25%;
    min-width: 150px;
    max-height: 48px;
    text-transform: uppercase;
  //  color: rgba(184, 190, 189, 0.74);
    padding: 12px 0;
    background: rgba(255, 255, 255, 0.06);
/*    border: 1px solid #ffffff;*/
}

.btn-check:checked {
    border: 1px solid #ffffff;
}

.btn-con {
    background: #127a7a;
    margin: 20px auto;
}


/* ---- RESULTS ---- */

.result-area {
    padding: 20px;
    margin: 20px 0;
    background: darkslategray;
    color: aliceblue;
    border: white 1px solid;
    border-radius: 6px;
}

.result-box {
    justify-content: space-evenly;
}

.converted-box {
    background: none;
    min-height: 280px;
    border-radius: 8px;
}

.given-header {
    background: #30806c;
    text-align: center;

}

.given-header p {
    font-size: 1.6rem;
    color: #ffffff;
    padding: 18px;
    margin: 0;
    font-family: 'Tilt Neon', sans-serif;
}

.given-number {
    text-align: center;
    font-size: 2.2rem;
    color: black;
    padding: 22px;
    background: white;
}

.given-system {
    text-align: center;
    font-size: 1.8rem;
    color: #132fad;
    padding: 12px;
    text-transform: uppercase;
    background: white;
    font-family: 'Tilt Neon', sans-serif;
}
